.header {
  padding: 20px 0;
  background-color: blanchedalmond;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  font-size: 24px;
  color: darkblue;
}

.header__search {
  padding: 5px 7px;
  border-radius: 5px;
  border: solid 1px transparent;
  transition: border-color .4s ease-in-out, box-shadow .4s ease-in-out;

  &:focus {
    box-shadow: 0px 0px 10px 2px skyblue;
    border-color: skyblue;
  }
}